<!-- Formulario reactivo basico -->
<!-- <app-formulario></app-formulario> -->
<!-- <hr /> -->

<!-- Ejemplo de formulario anidado basico -->
<!-- <app-formulario-anidado></app-formulario-anidado> -->
<!-- <hr/> -->

<!-- Ejemplo de formulario de array basico -->
<!-- <app-formulario-array></app-formulario-array> -->
<!-- <hr> -->

<!-- Ejemplo de formulario validado basico -->
<!-- <app-formulario-validado></app-formulario-validado> -->

<!-- Ejemplos de pipes  -->
<!-- <app-pipes-examples></app-pipes-examples> -->

<!-- Ejemplo de uso de animaciones -->
<app-ejemplo-animacion></app-ejemplo-animacion>
